.BL-products-head {
    display: flex;
    align-items: flex-start;
    gap: 15.625vw;
    margin-bottom: 100px;
}

.BL-products-head h1 {
    font-size: 48px;
    font-weight: 500;
    padding-bottom: 14px;

}

.BL-products-head .BL-products-buttons {
    display: flex;
    margin-top: 57px;
    border: 1px solid #262626;
    border-radius: 82px;
    padding: 14px;
}

.BL-products-head .BL-products-buttons .Na-linkbutton {
    background-color: var(--black11-color);
    color: white;
}

.Na-forindividuals,
.Na-forbusinesses {
    border: none;
    cursor: pointer;
}

.BL-products-head .BL-products-buttons .Na-linkbutton.active-button {
    background-color: var(--green60-color);
    color: var(--black11-color);
}

.BL-products-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.BL-product-card {
    width: 29.1560%;
    text-align: center;
}
.BL-product-card:not(:last-child) {
    border-right: 1px solid #262626;
    padding-right: 50px; 
}
.BL-product-card .flex {
    flex-direction: column;
    align-items: center;
}

.BL-product-card img {
    width: 98px;
    height: 98px;
    margin-bottom: 30px;
}

.BL-product-card h1 {
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 20px;
}

.BL-product-card p {
    font-size: 18px;
}

@media screen and (max-width: 1440px) {
    .BL-products-head {
        gap: 10.4166vw;
        margin-bottom: 80px;
    }

    .BL-products-head h1 {
        font-size: 38px;
        padding-bottom: 10px;
    }

    .BL-products-head .BL-products-buttons {
        margin-top: 50px;
        gap: 4px;
        padding: 12px;
    }

    .BL-product-card {
        width: 29.1664%;
    }
.BL-product-card:not(:last-child) {
    padding-right:40px; 
}
    .BL-product-card img {
        width: 72px;
        height: 72px;
        margin-bottom: 24px;
    }

    .BL-product-card h1 {
        font-size: 20px;
        padding-bottom: 16px;
    }

    .BL-product-card p {
        font-size: 16px;
    }
}

@media screen and (max-width: 992px) {
    .BL-products-head {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
        margin-bottom: 60px;
    }

    .BL-products-container {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .BL-products-head h1 {
        font-size: 28px;
        padding-bottom: 10px;
    }

    .BL-products-head .BL-products-buttons {
        margin-top: 20px;
        padding: 12px;
    }

    .BL-product-card {
        width: 100%;
    }

    .BL-product-card:not(:last-child) {
        border-right: none;
        border-bottom: 1px solid var(--gray15-color);
        padding-bottom:30px; 
        padding-right: 0px;
    }
    .BL-product-card img {
        margin-bottom: 20px;
    }

    .BL-product-card h1 {
        padding-bottom: 12px;
    }

    .BL-product-card p {
        font-size: 14px;
    }
}