.Am-M.container {
    display: flex;
    flex-direction: column;
    gap: 80px;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

.Am-faqTitle {
    display: flex;
    width: 100%;
    gap: 14px;
}

.Am-faqTitle h1 {
    color: var(--white-color);
    font-weight: 500;
    font-size: 48px;
    line-height: 150%;
    padding-bottom: 14px;
}

.Am-faqTitle span {
    color: var(--green60-color);
}

.Am-faqTitle p {
    color: var(--gray70-color);
    max-width: 1295px;
    font-size: 18px;
    font-weight: 300;
    line-height: 150%;
    letter-spacing: 0%;

}

.faq-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.faq-row {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.faq-card {
    width: 40.9115vw;
    border-radius: 14px;
    border: 1px solid var(--gray15-color);
    height: 347px;
    flex: 1 1 calc(50% - 30px);
    box-sizing: border-box;
    padding: 50px;
    color: linear-gradient(to bottom, 180deg, rgba(25, 25, 25, 0) 0%, #191919 100%);
}

.faq-card h1 {
    max-width: 682.5px;
    border-bottom: 1px solid var(--gray15-color);
    width: 100%;
    font-weight: 500;
    font-size: 20px;
}

.faq-card p {
    border: none;
    width: 100%;
    max-width: 682.5px;
    font-weight: 300;
    font-size: 18px;

}

.FaqBtn {
    justify-content: center;
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
}


.FaqBtn button {
    background-color: var(--black11-color);
    border: 1px solid var(--gray15-color);
    display: flex;
    width: 193px;
    gap: 4px;
    opacity: 1;
    border-radius: 100px;
    padding: 18px 24px;
    text-align: center;
    align-items: center;
    color: var(--white-color);
}

.faq-img {
    transition: transform 0.3s ease;
}

.faq-img.rotated {
    transform: rotate(180deg);
}

@media screen and (max-width: 1439px) {
    .Am-faqTitle {
        gap: 10px;
    }

    .Am-faqTitle h1 {
        max-width: 979px;
        font-size: 38px;
    }

    .Am-faqTitle p {
        max-width: 979px;
        font-size: 16px;
    }

    .faq-card {
        width: 43.7153vw;
        padding: 40px;
    }

    .faq-card h1 {
        font-size: 18px;
        max-width: 549.5px;
    }

    .faq-card p {
        font-size: 16px;
        max-width: 549.5px;
    }
}

@media screen and (max-width: 992px) {
    .Am-faqTitle {
        justify-content: center;
        text-align: center;
        display: flex;
        gap: 10px;
    }

    .Am-faqTitle h1 {
        max-width: 979px;
        text-align: center;
        font-size: 28px;
    }

    .Am-faqTitle p {
        text-align: center;
        max-width: 979px;
        font-size: 14px;
    }

    .faq-row {
        flex-wrap: nowrap;
    }

    .faq-card {
        width: 91.5385vw;
        height: auto;
        padding: 30px;
    }

    .faq-card p {
        font-size: 14px;
        width: 100%;
    }
}