.Am-faq-dashboard .container {

  max-width: 800px;
  padding: 20px;
  font-family: sans-serif;
}
.Am-faq-dashboard h2{
  margin-top: 150px;
  color: var(--green60-color);
    font-size: 48px;
    text-align: center;
    width: 100%;
}

.Am-list-card {
    flex-direction: column;
    display: flex;
    border: 1px solid var(--gray20-color);
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 133px;
    background-color: var(--black10-color);
    color: var(--white-color);
    gap: 20px;
}
.Am-form-card {
  border: 1px solid var(--gray20-color);
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 20px;
}
.Am-form-card h3{
  text-align: center;
  color: var(--green60-color);
}
h2 {
  margin-bottom: 16px;
}
label {
  color: var(--green60-color);
  display: block;
  margin-top: 10px;
  font-weight: bold;
}
.Am-faq-dashboard input,
textarea,
select {
  width: 100%;
  background-color: var(--black10-color);
  border: 1px solid var(--gray20-color);
  border-radius: 30px;
  color: var(--white-color);
  font-size: 18px;
  outline: none;
  padding: 10px;
  margin-bottom: 15px;
}
label{
  padding-bottom: 15px;
}
.Am-faq-dashboard input:focus, textarea:focus{
  border-color: var(--green60-color);
}
.Am-faq-dashboard textarea{
  height: 150px;
}
.Am-buttons {
  justify-content: center;
  margin-top: 12px;
  display: flex;
  gap: 8px;
}
.Am-buttons button {
  width: 109px;
  padding: 14px 30px;
  border-radius: 82px;
  background-color: var(--green60-color);
  color: var(--black11-color);
}
.Am-buttons button[type="button"] {
  border: 1px solid var(--gray10-color);
  background:var(--gray20-color);
  color: var(--white-color);
}
.Am-list-header {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
}

.Am-faq-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.Am-faq-item {
  padding: 15px;
  border-radius: 8px;
  border: 1px solid var(--gray20-color);
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.Am-faq-item h4{
  color: var(--green60-color);
  padding-bottom: 10px;
}
.Am-faq-item p{
  color: var(--gray60-color);
  padding-bottom: 10px;
}

.Am-list-card {
  border: 1px solid var(--gray20-color);
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 20px;
  background-color: var(--black10-color);
  color: var(--white-color);
} 

.Am-item-actions button {
  margin-left: 8px;
  padding: 6px 14px;
  border-radius: 50px;
  background-color: var(--green60-color);
  color: var(--black11-color);
  border: none;
  cursor: pointer;
}
.Am-item-actions button:hover {
  opacity: 0.8;
  text-decoration: none;
}
.Am-item-actions button:nth-child(2) {
  background-color: var(--gray10-color);
  color: #fff;
}
