



@media screen and (max-width: 1439px) {

<<<<<<< HEAD
  .MA-title {
    height: fit-content;
  }

  .BL-card .MA-title {
    width: 41.3611vw !important;
    height: 348px;
    padding: 40px;
  }

  .BL-card .flex {
    gap: 14px;
    margin-bottom: 24px;
  }

  .BL-card .MA-title h1 {
    font-size: 20px;
  }

  .BL-card .MA-title img {
    width: 76px;
    height: 76px;
=======

  .ourValues {
    padding-bottom: 60px;
  }

  .ourValues h1 {
    font-size: 38px;
  }

  .ourValues .leftCards,
  .ourValues .rightCards {
    width: 100%;
  }

  .ourValues .ourCards .MA-title {
    flex: 0 0 50%;
    width: 100%;
    max-height: 400px;
  }
 .ourValues .ourCards .MA-title::before {
    top: 15px;
    height: calc(100% - 55px);

  }

  .ourValues .ourCards .MA-title h1 {
    font-size: 40px;
    text-wrap: normal;
    white-space: nowrap;
  }

  .ourValues .ourCards .MA-title desc {
    font-size: 16px;
    height: 152px;
    max-width: 600px;
  }
   .job.container{
    padding: 0 1%;
  }
  .career-section {
    gap: 2.016vw;
  }

  .career-card {
    width: 100%;
    max-width: 500px;
    padding: 32px ;
    margin: 0 auto;
>>>>>>> 8234c37b6cdf065727f0b89ca23136ae6e3c4f69
  }
}
@media screen and (max-width: 992px) {

}