.Bm-titleDev {
  background-color: var(--gray11-color);
  padding-bottom: 50px;
}

.Bm-titleDev h2 {
  color: var(--white-color);
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 14px;
}
.Bm-titleDev .divs {
  display: flex;
  gap: 10px;
}
.Bm-titleDev p {
  width: max-content;
  padding: 8px 16px;
  background-color: var(--gray10-color);
  color: var(--gray70-color);
  border: 1px solid var(--gray15-color);
  border-radius: 68px;
  font-size: 18px;
  font-weight: 300;
}

@media screen and (max-width: 1440px) {
  .Bm-titleDev {
    padding-bottom: 40px;
  }
  .Bm-titleDev h2 {
    font-size: 24px;
    padding-bottom: 10px;
  }
  .Bm-titleDev .divs {
    gap: 8px;
  }
  .Bm-titleDev p {
    font-size: 16px;
  }
}

@media screen and (max-width: 992px) {
  .Bm-titleDev {
    padding-bottom: 30px;
  }
  .Bm-titleDev h2 {
    font-size: 20px;
  }
  .Bm-titleDev .divs {
    flex-direction: column;
  }
  .Bm-titleDev p {
    font-size: 11px;

  }
}
