header {
  margin-bottom: 198px;
}

.Am-navbar {
  background-color: var(--black11-color);
  color: var(--white-color);
  padding: 24px 32px;
  border: 1px solid var(--gray15-color);
  border-radius: 100px;
  top: 50px;
  position: fixed;
    z-index: 999999999;
    width: 83.125vw;
    height: 95px;
    padding: 20px 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Am-links-large {
  display: flex;
  align-items: center;
  gap: 30px;
}

.Am-nav-links {
  display: flex;
  align-items: center;
  gap: 26px;
}

.Am-nav-links a {
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  color: var(--white-color);
  transition: color 0.2s ease;
}

.Am-nav-links .Am-active-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  background-color: var(--gray15-color);
  width: 100px;
  height: 51px;
  border-radius: 82px;
  padding: 12px 24px;
  gap: 10px;
}

.Am-button {
  display: flex;
  gap: 30px;
}
.Na-signup {

    padding: 14px 30px;
    border-radius: 82px;
    background-color: var(--black11-color) !important;
    color: var(--white-color) !important;
}

.Na-signup:hover {
  background-color: var(--green70-color);
  color: var(--black11-color);
}

.Am-btn-outline:hover {
  background: #c5ff00;
  color: var(--black-color);
}

.Am-btn-filled {
  width: 109px;
  height: 55px;
  background-color: var(--green60-color);
  color: var(--gray20-color);
  border: none;
  border-radius: 82px;
  padding: 14px 30px;
  font-weight: bold;
  cursor: pointer;
}

.Am-btn-filled:hover {
  background: #baff00;
}

.Am-burger {
  align-items: center;
  justify-content: center;
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 4px;
  border-radius: 82px;
  width: 82px;
  height: 55px;
  background-color: var(--green60-color);
}

.Am-nav-mobile {
  align-items: center;
  display: none;
  flex-direction: column;
  background-color: var(--black11-color);
  position: absolute;
  top: 104px;
  left: 0;
  right: 0;
  padding: 20px;
  border-radius: 60px;
  gap: 15px;
  z-index: 100;
}

.Am-nav-mobile a {
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  color: var(--white-color);
  transition: color 0.2s ease;
  display: block;
  padding: 10px 0;
}

.Am-nav-mobile .Am-active-link {
  color: var(--white-color);
  font-weight: bold;
  background-color: #444444;
  border-radius: 30px;
  padding: 10px 15px;
}

.Am-button-mobile {
  display: flex;
  gap: 15px;
  margin-top: 15px;
  justify-content: center;
}

.Am-nav-mobile.Am-active {
  display: flex;
}

@media screen and (max-width: 1440px) {
  header {
    margin-bottom: 133px;
  }
  .Am-navbar {
    width: 88.8889vw;
    height: 73px;
    padding: 16px 24px;
    top: 30px;
  }
  .Am-nav-links a{
    font-size: 14px;
  }
  .Am-button {
    gap: 20px;
  }
}

@media screen and (max-width: 992px) {
  header {
    margin-bottom: 158px;
  }
  .Am-navbar {
    width: 91.7949vw;
    height: 68px;
    top: 40px
  }
  .Am-button-mobile{
    gap: 20px;
  }
  .Am-nav-mobile a {
    font-size: 14px;
  }
  .Am-logo_img{
    width: 101px;
  }
  
  .Am-links-large {
    display: none;
  }

  .Am-burger {
    width: 56px;
    display: flex;
  }

  .Am-button-large {
    display: none;
  }
  .Na-login-mobile{
    color: var(--black11-color) !important;
  }
}
