.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reverse{
    flex-direction: row-reverse;
}

.MA-title h1{
    color: var(--white-color);
    padding-bottom: 12px;
}

.MA-title span {
    color: var(--green60-color);
}

.MA-title .desc {
    font-size: 18px;
    font-weight: 300;
    line-height: 150%;
    color: var(--gray70-color);
    padding-bottom: 12px;
}


/* laptop */
@media screen and (max-width: 1440px) {
     .MA-title h1{
        padding-bottom: 16px;

    }
    .MA-title .desc {
        font-size: 16px;
        padding-bottom: 40px;

    }
}

/* mobile */
@media screen and (max-width: 992px) {
    .MA-title h1{
        font-size: 24px;
        padding-bottom: 8px;

    }
    .MA-title .desc {
        font-size: 14px;
        line-height: 150%;
        padding-bottom: 30px;

    }
}