footer {
    background-color: var(--black11-color);
}

footer .MA-container {
    width: 83.125vw;
    padding-top: 100px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .MA-container ul {
    padding-top: 50px;
    display: flex;
    gap: 26px;
}

footer .MA-container ul a {
    text-decoration: none;
    color: var(--offwhite-90-color);
    font-size: 18px;
}

footer .MA-container .MA-contanct {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px 0px;
    margin: 50px 0px;
    border-top: 1px solid var(--gray15-color);
    border-bottom: 1px solid var(--gray15-color);
}

footer .MA-container .MA-contanct a {
    display: flex;
    gap: 6px;
    color: var(--offwhite-90-color);
    font-size: 18px;
    text-decoration: none;
}

footer .MA-container .MA-bottom {
    border: 1px solid var(--gray15-color);
    width: 100%;
    padding: 16px 30px 16px 16px;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--gray10-color);
}

footer .MA-container .MA-bottom .MA-socail {
    display: flex;
    gap: 14px;
    background-color: var(--gray10-color);
}

footer .MA-container .MA-bottom .MA-socail div {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--green60-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

footer .MA-container .MA-bottom .MA-socail div:hover {
    background-color: var(--green65-color);
}

footer .MA-container .MA-bottom .MA-rights, .MA-terms {
    color: var(--gray70-color);
    font-size: 18px;
    font-weight: 300;
}

footer .MA-container .MA-bottom .MA-terms {
    display: flex;
    gap: 12px;
}

footer .MA-container .MA-bottom .MA-terms p:first-child {
    border-right: 1px solid var(--gray70-color);
    padding-right: 12px;
}

/* laptop */
@media screen and (max-width: 1439px) {
    footer .MA-container {
        width: 100%;
        padding-top: 60px;
        padding-bottom: 30px;
    }

    footer .MA-container ul {
        padding-top: 40px;
        gap: 14px;
    } 

    footer .MA-container ul a {
        font-size: 16px;
    }

    footer .MA-container .MA-contanct {
        padding: 40px 0px;
        margin: 40px 0;
    }

    footer .MA-container .MA-contanct a {
        font-size: 16px;
    }

    footer .MA-container .MA-bottom {
        padding: 12px 24px 12px 12px;
    }

    footer .MA-container .MA-bottom .MA-socail {
        gap: 8px;
    }

    footer .MA-container .MA-bottom .MA-socail div {
        width: 44px;
        height: 44px;
    }

    footer .MA-container .MA-bottom .MA-rights, .MA-terms {
        font-size: 14px;
    }

    footer .MA-container .MA-bottom .MA-terms {
        gap: 8px;
    }

    footer .MA-container .MA-bottom .MA-terms p:first-child {
        padding-right: 8px;
    }
}
/* mobile */
@media screen and (max-width: 992px) {
    footer .MA-container {
        width: 100%;
        padding-top: 50px;
    }

    footer .MA-container ul {
        padding-top: 24px;
    } 

    footer .MA-container ul a {
        font-size: 14px;
    }

    footer .MA-container .MA-contanct {
        flex-wrap: wrap;
        padding: 30px 0px;
        margin: 30px 0px;
    }

    footer .MA-container .MA-contanct a {
        font-size: 14px;
    }

    footer .MA-container .MA-bottom {
        padding: 12px;
        border-radius: 12px;
        flex-direction: column;
        position: relative;
    }

    footer .MA-container .MA-bottom .MA-socail {
        position: absolute;
        top: 0;
        transform: translateY(-50%);
    }

    footer .MA-container .MA-bottom .MA-rights {
        margin: 26px 0 20px;
    }

    footer .MA-container .MA-bottom .MA-terms {
        margin-bottom: 30px;
    }
} 