.jobHead {
  padding-bottom: 80px; 
}

.jobHead h1 {
  font-size: 48px;
  margin-bottom: 14px;
}

.career-section {
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  grid-template-rows: auto auto;
  gap: 30px;
}
.career-section .career-card:nth-child(3) {
  grid-column: 1 / 2; 
}
.career-card {
  width: 100%;
  background-color: var(--black11-color);
  border: 1px solid var(--gray15-color);
  border-radius: 16px;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.career-card .section-desc {
  margin-bottom: 40px;
  max-width: 100%;
}

.Na-applynow:hover {
  background-color: var(--gray15-color);
}
@media screen and (max-width: 1439px) {

  .career-card {
    width: 100%;
    max-width: 40vw;
    margin: 0 auto;
    box-sizing: border-box;
    height: auto;
  }
}
@media screen and (max-width: 992px) {
  /*.job.container{
    padding: 0 1%;
  }*/
    .jobHead {
    width: 100%;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 24px; 
  }
  .jobHead h1 {
  font-size: 30px;
}

  .career-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.016vw;
    place-items: center; 
    padding-inline: 20px;
  }

  .career-card {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 24px;

 }
}
@media screen and (max-width: 370px) {
  .career-section {
    gap: 12px;
  }

  .career-card {
    width: 100%;
    max-width: 275px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .jobHead h1 {
    font-size: 24px;
  }

  .jobHead {
    padding : 0 30px 30px 30px;
   
  }
}